/* Entrega TP 4.. jugabilidad */
@import url('https://fonts.cdnfonts.com/css/arcade-classic');
.navbar {
    margin-bottom:50px;
}
.reiniciar {
    display:none;
}
.nuevo-juego, .salir {
    display:none;
    text-decoration: none;
}
.control-music-in-game {
    display:none;
    margin-left: 20px;
}
.contenedor-form-game {
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing:5px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    width: 45%;
    margin:auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    font-size:40px;
}

.form-game {
    margin-top:-10px;
}
.control-music, .control-music-in-game {
    border-radius: 100%;
    margin-top: 10px;
    font-size: 30px;
}
.control-music:hover, .control-music-in-game:hover {
    cursor: pointer;
}
.stop {
    background-color:rgb(165, 165, 165);
    text-decoration:line-through;
}

.form-game h1 {
    text-align: center; 
}
.contenedor-h1-game {    
    text-shadow: -2px 0 0 #fdff2a,-4px 0 0 #df4a42,2px 0 0 #91fcfe, 4px 0 0 #4405fc;
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;    
}
@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.form-game p, .form-game label {
    margin-left: 30px;
    font-size: 30px;
}

.dificultad {
    display:flex;
    justify-content: center;
    list-style: none;
    gap:80px;
}
input[name=dificultad]{
    height: 25px;
    width: 25px;
    border-radius: 100%;
   }
input[name=dificultad]:hover {
    cursor: pointer;
}
.label-dificultad {
    display:flex;
    justify-content: center;
}

#filcol {
    margin-left:30px;
    width:80px;
    border-radius:8px;
    height:40px;
    font-size:20px;
}
#filcol option {
    font-size:22px;
}
.contenedor-btn-jugar {
    display:flex;
    justify-content: center;
}
#jugar {
    font-family: 'ArcadeClassic', sans-serif;
    width:160px;
    height:55px;
    font-size: 35px;
    border-radius: 10px;
    color:white;
    background-color:rgb(63, 63, 63);
}
#jugar:hover {
    background-color: rgb(30, 30, 30);
    cursor:pointer;
}
#jugar:active {
    background-color: rgb(0, 0, 0);
    transform: translateY(10px);
}

.contenedor-tablero {
    display: none;
    justify-content: space-around;
    align-items:center;
    margin:auto;
    width: 1000px;
    padding-bottom: 10px;
    background-color: white;
    border: #f2eaea 3px solid;
    border-bottom: 0;
}

.contenedor-turno{
    display: none;
    align-items:center;
    margin: auto;
    width: 1000px;
    background-color: white;
    color: #000000;
    border: #f2eaea 3px solid;
    border-top: 0;
}

#turno-jugador {
    margin: auto;
    padding: 5px;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 40px;
    word-spacing: 0.2em;
}

#turno-jugador span{
    /* -webkit-text-stroke: 0.3px black; */
    text-shadow: 1px 1px black, 2px 2px black;
}

#reiniciar, #nuevo-juego {
    font-family: 'ArcadeClassic', sans-serif;
    height: 35px;
    font-size: 15px;
    border-radius: 7px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    margin-left: 20px;
}
#salir {
    border-radius: 50%;
    background-color: rgb(244, 67, 67);
    width: 40px;
    height:40px;
}

#reiniciar:hover, #nuevo-juego:hover{
    background-color: rgb(241, 241, 241);
    cursor:pointer;
}
#reiniciar:active, #nuevo-juego:active {
    background-color: rgb(164, 164, 164);
    transform: translateY(5px);
    border:none;
    box-shadow: 3px 4px 4px 1px rgb(164, 164, 164);
}
#salir:hover {
    background-color: rgb(251, 0, 0);
    cursor:pointer;
    color:white;
}
#salir:active {
    background-color: rgb(165, 0, 0);
    transform: translateY(5px);
    border:none;
    box-shadow: 3px 4px 4px 1px rgb(91, 0, 0);
}
.ganadorYimg {
    display:flex;
    align-items: center;
    gap:50px;
}
.ganadorYimg img {
    width:70px;
    height:60px;
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}
#ganador{
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}
.modal-ganador ul li a {
    font-size:25px;
    text-decoration: none;
}
.modal-ganador ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.modal-ganador ul li a:active {
    color:#551a8b;
}
.modal-ganador ul li p{
    color:#ad73e8;
}
.modal-ganador ul li:hover span:after{
    content:'〰️';
}
.modal-ganador ul li:hover p {
    color: #551a8b;
}
.reiniciar-ganador {
    font-family: 'ArcadeClassic', sans-serif;
    display: block;
    border: none;
    background:none;
    font-size:25px;
    color:#551a8b;
}
.reiniciar-ganador:hover {
    cursor: pointer;
}
.contenedor-tablero-canvas {
    display:flex;
    justify-content:center;
    margin-top:20px;
}

canvas {
    outline: #f2eaea 3px solid;
    margin:auto;
    justify-content:center;
    background:transparent;
    outline: #696969 3px solid;
    display: none;
}

.utiles {
    display: inline-block;
}


#contenedorTabla {
    width: 85%;
    min-height:95vh;
    max-height:80vh;
    background-color: none;
    text-align:center;
    margin:auto;
    display:flex;
    justify-content:center;
}
#contenedorTabla table {    
    margin:auto;
    border-spacing: 3px;
    background-color:#0026df;
    padding:20px;
    border-radius:13px;
    max-width: 80%;
    z-index:1;
}

.color {
    background-color: rgb(6, 6, 6);
    border-radius: 50%;
    height:80px;
    width:80px;
    margin:15px;
    border:double 10px #0524b1;
}

.modal-ganador {
    display: none;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    align-items: center;
    color:black;
    font-size:25px;
}

.ganador-rojo {
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;    
    color:red;
}
.ganador-amarillo {
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;    
    color:#bbbb16;
}


/* CONTADOR */
 @font-face {
    font-family: 'Digital Display';
    src: url('https://praxeds.github.io/scrimba-basketball-scoreboard/Assets/Digital-Display.woff2') format('woff2'),
        url('https://praxeds.github.io/basketball-scoreboard/Assets/Digital-Display.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
#contador {
    display:none;
}
.base-timer {
    position: relative;
    width: 90px;
    height: 90px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 5px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 5px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-family: 'Digital Display',monospace;
    text-align: center;
    color: rgb(255, 0, 0);
  }
  /* ------------------------------- */


.game-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb {
    margin-top: 20px;
    margin-left: 10%;
}

.breadcrumb a{
    color: white;
    text-decoration: none;
}

.breadcrumb a:visited {
    text-decoration: none;
    color: white;
}

.container-button {
    margin-right: 10%;
}

.btn{
    background: rgba(82, 180, 218, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 167px;
    height: 37px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.btn:hover {
    background: rgba(15, 135, 181, 0.95);
}

.name-game {
    color: white;
    font-weight: 800;
    font-size: 30px;
    line-height: 0px;
    margin-left: 10%;
}

.preview-game {
    margin: auto;
    width: 1000px;
    height: 500px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.preview-game img{
    display: block;
    margin: auto;
}

.container-howtoplay{
    display: block;
    margin: auto;
    margin-top: 65px;
    width: 90%;
    height: 818px;
    background: rgba(217, 217, 217, 0.1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 2px solid #DCDEE2;
    border-radius: 16px;
    color: white;
}

.container-howtoplay h2 {
    margin: 20px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    text-align: center;
}


.howtoplay {
    margin: 0px 40px;
}

/* .rectangle-dif { 
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0px;
    height: 426px;
    width: 754px;
}*/

.video-gameplay {
    margin: auto;
    margin-bottom:30px;
}

.video-gameplay video {
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 426px;
    width: 754px;
    border-radius: 20px;
}

.container-comments {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px auto;
    width: 90%;
    height: 446px;
    background: rgba(217, 217, 217, 0.1);
    border: 2px solid #DCDEE2;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.add-comment {
    margin: auto;
    background: rgba(40, 83, 108, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    height: 138px;
    width: 100%;
}

.add-comment img {
    border-radius: 100px;
    margin: 13px;
}

.write-comment {
    display: flex;
    align-items: center;
}

.input-wrapper {
    position: relative;
    width: 80%;    
}

.input-icon {
	position: absolute;
	left: 198px;
	top: 30%;
	transform: translateY(-50%);
}

.input-wrapper input{
    margin-left: 20px;
    background: none;
    border: 0;
    width: 80%;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.input-wrapper input:focus { 
    outline: none;
}

.btn-comment {
    display: block;
    margin-left: auto;
    margin-right: 78px;
}

.box-comment {
    display: flex;
    margin: auto;
    background: rgba(40, 83, 108, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    height: 138px;
    width: 100%;
    color: white;
}

.box-comment img {
    border-radius: 100px;
    margin-top: 13px;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: auto;
}

.container-writed-comment {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.profile-comment {
    display: flex;
    align-items: center;
}

.profile-comment h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.profile-comment p{
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.data-comment p{
    margin-top: 0;
}

.container-writed-comment svg{
    margin-top: 10px;
    margin-left: -2px;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: #000000;
    background-color: rgba(0,0,0,0.75); /* Fondo de atras difuminado */
}

.modal-box {
    background: #FFFFFF;
    margin: 20% auto; /* 20% de arriba y centrado */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 600px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
}

.modal-link input{
    width: 240px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-right: 10px;
    padding: 1px 0px 1px 10px;
}

.btn-link {
    text-align: center;
    width: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 23px;
}

.btn-link svg{
    margin-right: 10px;
}

.modal-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 556px;
    height: 74px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 20px
}

.modal-social .icon-fb{
    margin-left: 25%;
}

.modal-social .icon-rd{
    margin-right: 25%;
}

/* --------------------------------------------------------------------------------------------------------- */