/* Punto 8 animacion utilizando un spritesheet */

.spriteSheet-background{
    height: 350px;
    width: 100%;
    position: relative;
    top:100px;
    background: url("../imgs/granturismo/prueba2.jpg") repeat;
    animation: animate-background 20s linear infinite;
    overflow: hidden;
    object-fit: cover;
   
  }
  .car{
      width: 140px;
      height: 107px;
      background: url("../imgs/granturismo/autoMover.png");
      bottom: 0px;
      left: 40%;
      position: absolute;
      overflow: hidden;
      animation: run-astronaut 3s steps(5) infinite;
  }

  @keyframes run-astronaut {
      0%{
          background-position: 0px;
      }
      100%{
          background-position: -141px;
      }
  }

  @keyframes animate-background {
      0%{
          background-position: 0px;
      }
      100%{
          background-position: -1520px;
      }
  }

/*Reserva: */
/* Punto 5 parallax */



#imagenParallax {
    /* visibility: hidden; */
	width: 400px;
	height: 400px;
}
.aparecer {
    animation-name: aparecer;
    animation-duration: 2s;
    /* transform: scale(0); */
    animation-timing-function: linear;
    animation-iteration-count: 1s;    
}

@keyframes aparecer {  
    0% {     transform: scale(0);
        ; }
    100% {     transform: scale(1);
        ; }
}

.desaparecer {
    animation-name: desaparecer;
    animation-duration: 3s;
    /* transform: scale(0); */
    animation-timing-function: linear;
    animation-iteration-count: 1s;    
}
@keyframes desaparecer {  
    0% {     transform: scale(1);
        ; }
    100% {     transform: scale(0);
        ; }
}




.contenedor-reserva {
    height:84vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("../imgs/granturismo/granturismo1.png") 0 / cover fixed;
}

.contenedor-logo-desc-compra {
    width:50%;
    height:820px;
    display:flex;
    flex-direction:column;
    text-align:left;
    filter: none;
}

.contenedor-logo{
    display:flex;
    justify-content:center;
    margin-top:50px;
}
.contenedor-logo img {
    width:45%;
}

.descripcion-juego {
    display:flex;
    justify-content:center;
}
.descripcion-juego p {  
    color:white;   
    font-size: 20px;
    width:590px;
    height:108px;
    top:5px;
    left:58px;
}

.contenedor-btn-reservar {
    display:flex;
    justify-content:center;
    margin-top: 50px;
}
.btn-reservar {
    width: 250px;
    height: 48px;
    font-size:15px;
    left: 216px;
    top: 181px;
    border: none;
    border-radius:10px;
    background-color: #52B4DA;
    color:white;
}
.btn-reservar:hover {
    font-size:16px;
    font-weight: bold;
    background-color: #DA4B9C;
    color:white;
}

/* Cards características */
.slick-track {
    position: relative;
    top: 12px;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.cont-caract-cards {
    background: rgb(27,27,27);
    background: linear-gradient(0deg, rgb(59, 59, 59) 0%, rgba(31,31,31,1) 16%, rgba(14,15,15,1) 53%, rgba(0,0,0,1) 100%);
    padding-bottom: 40px;
}
.contenedor-caractClave {
    margin-top: 50px;
    margin-bottom: 20px;;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-caractClave h1 {
    color:white;
    margin-bottom: 0px;
    font-size: 30px;
}
.contenedor-caractClave h2 {
    color: #C9C9C9;
    font-size: 30px;
}

.contenedor-cards-informativas {
    margin-top: 30px;
    display:flex;
    justify-content: space-evenly;
}

.cont-caract {
    width:28%;
    height:28;
    border-radius: 5px;
    border:solid 1px rgb(171, 166, 166);


    visibility: hidden;
    opacity: 0;
	/* transform: scale(0.9); */
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
	transition: .7s ease-in-out all;
}

.cont-img-caract img {
    width:100%;
    border-radius: 2px;
}
.desc-p-caract {
    margin-top:3px;
    margin-bottom: 0px;
    height:100px;
    color:white;
    font-size:17px;
    overflow-wrap: break-word;
    text-align:center;
}

.cont-aviso-caract {
    color:white;
    margin-top:80px;
    margin-left:4%;
    font-size:18px;
}



.reduce {
    height: 20px;
}
.reduce .nav-container{
    height: 60px;
}

.reduce img {
    height:40px;
    width:40px;
}

.contenedor-carrousel-caracteristicas {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-left: 50px;
    width: 80%;
}

.contenedor-card img {
    width: 100%;
    margin:auto;
    filter: brightness(0.5) saturate(0.5) contrast(1.2) blur(0.5px);
    transition: filter 200ms linear, transform 200ms linear;
}
.contenedor-card img {
    width: 240px;
}
.contenedor-card img:hover {
    transform: scale(1.1);
    filter: none;
}
.img-gt7-mercedes-carrousel {
    width: 320px !important;
}

/*Historia */
.contenedor-historia {
    margin:50px 0px 50px 0px;
    width: 90%;
    height: 2000px;
    margin-left:5%;
    font-size: 20px;
    color:#F3EAEA;
    border-radius:20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    gap:15px;
    letter-spacing:2px;
}

.contenedor-titulo-historia {
    text-align: center;
    margin-top:20px;
}

.contenedor-historia div {
    padding:10px 30px 10px 30px;
}
.contenedor-historia span {
    color:white;
}

.contenedor-historia h1{
    margin-bottom: 0px;
    margin-left: 30px;
}

span {
    font-weight: bolder;
}

/*Funciones PS5 */
.fondo-funciones-ps5 {
    background-image: linear-gradient(to bottom, #c0c0c0, #cccccc, #d7d7d7, #e3e3e3, #efefef, #efefef, #efefef, #efefef, #e3e3e3, #d7d7d7, #cccccc, #c0c0c0);
    width:auto;
}
.contenedor-aviso-ps5 {
    display: flex;
    justify-content:center;
    gap:10px;
}

.contenedor-funciones {
    color:#121212;
    width:40%;
    margin-top:130px;
}
.img-ps5-funciones {
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.img-ps5-funciones img {
    height:80%;
}

.contenedor-funciones ul li {
    list-style-type : square;
    font-size :14px;
    margin-top:20px;
    letter-spacing: 2px;
}

.btn-mas-info {
    width:300px;
    height: 50px;
    border-radius:35px;
    font-size: 18px;
    border:none;
}
.btn-mas-info:hover {
    font-size:20.5px;
}
.contenedor-aviso-requerimiento {
    font-size:15px;
    margin:50px 0px 0px 200px;
    padding-bottom: 25px; 
}

.contenedor-section-historia1{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */

    visibility: hidden;
    opacity: 0;
	transform: scale(1);
	transition: .5s ease-in-out all;

    margin-bottom: 100px;

    position: sticky;
    position: -webkit-sticky;
    top: 170px;
    display: flex;
}
.contenedor-section-historia2{

    visibility: hidden;
    opacity: 0;
	transform: scale(1);
	transition: .5s ease-in-out all;

    margin-bottom: 100px;
    position: sticky;
    position: -webkit-sticky;
    top: 170px;
    bottom: 225px;
    display: flex;
}
.contenedor-section-historia3{
    visibility: hidden;
    opacity: 0;
	transform: scale(1);
	transition: .5s ease-in-out all;
    position: sticky;
    position: -webkit-sticky;
    top: 170px;
    bottom: 225px;
    display: flex;
}

/* .historia-colum-izq{
    position: sticky;
    position: -webkit-sticky;
    top: 150px;
} */

.historia-colum-der {
    margin: auto;
}

.img-historia {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

/* .{
    transform: translate3d(0px, 4.4759px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
} */

.scroll-reveal {
    display: unset;
}

.visible {
    visibility: visible;
	opacity: 1;
	transform: scale(1) translateX(0);
}